#todo-list-container {
  --shadow-offset: 14px;
    position: absolute;
    inset: 10% 0;
    transform: translateX(calc(-0.5 * var(--shadow-offset)));
    background-color: white;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 50%) 1px 1px 5px, #ff4081 var(--shadow-offset) var(--shadow-offset);
    width: clamp(200px, 90% - 14px, 500px);
    height: min-content;
    max-height: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 50px;
    overflow-y: scroll;
}

#todo-list-container::-webkit-scrollbar {
  background: transparent;
  width: 20px;
}
#todo-list-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border: 7px solid transparent; background-clip: padding-box;
  border-radius: 20rem;
}

todo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
